.justgo > .van-tabs__line {
  bottom: 28px;
  height: 5px;
  background-color: #52e0f05e;
}
.justgo > .van-sidebar-item--select {
  color: #52e0f0;
  font-weight: 500;
  border-color: #fff;
  background-color: #fff;
}
